<h1>Home Page</h1>
<h3>Welcome to Club Theranos</h3>
<p>This website allows registered users to talk smack within the company.</p>
<p>Unregistered users can see anonymous posts while registered users can view the post and the author.</p>
